In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('./out/climbs.csv')
df.head()

,uuid,layout_id,setter_id,setter_username,name,description,hsm,edge_left,edge_right,edge_bottom,edge_top,angle,frames_count,frames_pace,frames,is_draft,is_listed,created_at,is_nomatch
0,002047402B6941CEA5ED7BB09FBFE14D,1,1051,kilterjackie,4/26 Harder Than It Should Be,NaN,3,40,136,4,152,NaN,1,0,p1145r12p1146r12p1149r13p1186r13p1201r13p1256r...,0,0,2018-04-27 03:31:54.979371,0
1,002ED50792A94E5EB2127D59E167B2EE,1,17760,bctyner,what kind of triangle,Make sure you angle your body just right,3,4,140,4,152,NaN,1,0,p1123r12p1139r13p1155r12p1171r13p1187r13p1203r...,0,0,2020-01-05 17:57:32.213641,0
2,003FF8E4DA8448E39696635E6DBD7B7C,1,8494,progressionclimbing,this is a statement,NaN,1,8,136,16,144,NaN,1,0,p1102r13p1123r13p1124r12p1127r12p1134r13p1148r...,0,0,2019-12-21 21:13:17.697354,0
3,004FB7A0C0754DA98634C5EE4D985D9A,1,45676,jefferoni,SpEeD cLiMbInG,NaN,1,8,136,8,152,NaN,1,0,p1081r15p1090r13p1091r13p1094r12p1097r13p1098r...,0,0,2021-03-11 05:57:44.333209,0
4,00683d10a8e246b3a106531c8573f13c,1,44916,mark.nalder,marks 1 try,NaN,3,4,40,4,152,NaN,1,0,p1141r15p1142r12p1144r15p1179r12p1192r13p1246r...,0,0,2020-10-20 21:31:19.064510,0

In [4]:
df[(df['setter_username'] == 'iruven')]

,uuid,layout_id,setter_id,setter_username,name,description,hsm,edge_left,edge_right,edge_bottom,edge_top,angle,frames_count,frames_pace,frames,is_draft,is_listed,created_at,is_nomatch
304194,1645fe0ce89b44039f3b13a02da45ffd,1,548269,iruven,drabina stupkarza,NaN,3,80,140,8,152,35.0,1,0,p1073r15p1077r15p1169r12p1189r12p1235r13p1256r...,0,1,2025-07-12 10:10:13.971235,0

In [5]:
df_climb_stats = pd.read_csv('./out/climb_stats.csv')
df_climb_stats[(df_climb_stats['fa_username'] == 'iruven')]

,climb_uuid,angle,display_difficulty,benchmark_difficulty,ascensionist_count,difficulty_average,quality_average,fa_username,fa_at
289892,1645fe0ce89b44039f3b13a02da45ffd,35,17.0,NaN,2,17.0,3.0,iruven,2025-08-25 11:53:46

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 313774 entries, 0 to 313773
Data columns (total 19 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   uuid             313774 non-null  object
 1   layout_id        313774 non-null  int64
 2   setter_id        313774 non-null  int64
 3   setter_username  313774 non-null  object
 4   name             313770 non-null  object
 5   description      109557 non-null  object
 6   hsm              313774 non-null  int64
 7   edge_left        313774 non-null  int64
 8   edge_right       313774 non-null  int64
 9   edge_bottom      313774 non-null  int64
 10  edge_top         313774 non-null  int64
 11  angle            210200 non-null  float64
 12  frames_count     313774 non-null  int64
 13  frames_pace      313774 non-null  int64
 14  frames           313774 non-null  object
 15  is_draft         313774 non-null  int64
 16  is_listed        313774 non-null  int64
 17  created_at       313774 non-null  object
 18  is_nomatch       313774 non-null  int64
dtypes: float64(1), int64(12), object(6)
memory usage: 45.5+ MB

In [7]:
df_merged = pd.merge(df, df_climb_stats,how='inner', left_on='uuid', right_on='climb_uuid')
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319436 entries, 0 to 319435
Data columns (total 28 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   uuid                  319436 non-null  object
 1   layout_id             319436 non-null  int64
 2   setter_id             319436 non-null  int64
 3   setter_username       319436 non-null  object
 4   name                  319433 non-null  object
 5   description           110197 non-null  object
 6   hsm                   319436 non-null  int64
 7   edge_left             319436 non-null  int64
 8   edge_right            319436 non-null  int64
 9   edge_bottom           319436 non-null  int64
 10  edge_top              319436 non-null  int64
 11  angle_x               172649 non-null  float64
 12  frames_count          319436 non-null  int64
 13  frames_pace           319436 non-null  int64
 14  frames                319436 non-null  object
 15  is_draft              319436 non-null  int64
 16  is_listed             319436 non-null  int64
 17  created_at            319436 non-null  object
 18  is_nomatch            319436 non-null  int64
 19  climb_uuid            319436 non-null  object
 20  angle_y               319436 non-null  int64
 21  display_difficulty    319436 non-null  float64
 22  benchmark_difficulty  634 non-null     float64
 23  ascensionist_count    319436 non-null  int64
 24  difficulty_average    319436 non-null  float64
 25  quality_average       319436 non-null  float64
 26  fa_username           319436 non-null  object
 27  fa_at                 319436 non-null  object
dtypes: float64(5), int64(14), object(9)
memory usage: 68.2+ MB

In [9]:
df_merged[df_merged['ascensionist_count'] == max(df_merged['ascensionist_count'])]

,uuid,layout_id,setter_id,setter_username,name,description,hsm,edge_left,edge_right,edge_bottom,...,is_nomatch,climb_uuid,angle_y,display_difficulty,benchmark_difficulty,ascensionist_count,difficulty_average,quality_average,fa_username,fa_at
63057,AC9FCF7F01FC44BD835CFC41CB2224DA,1,3174,JustinKo,You Don’t Know Me,NaN,1,56,112,16,...,0,AC9FCF7F01FC44BD835CFC41CB2224DA,40,15.9962,NaN,69140,15.9962,2.95499,JustinKo,2019-02-18 22:46:20